@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-page: #141414;
    --color-active: rgb(28, 255, 138);
    --color-minor-text: #737373;
    --color-negative-text: black;

    --color-surface: #202020;
    --color-surface-highlight: #2B2B2B;

    --color-on-surface: #2B2B2B;
    --color-on-surface-highlight: #333333;

    --radius-item: 0.5rem;
    --radius-block: 1rem;
    --color-icon: white;
}

body {
    color: rgb(255, 252, 239);
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}